build/
devel/
logs/
wandb/
*.bag
*.pt
*.pth
*.ckpt
__pycache__/
*.pyc

.DS_Store
.idea/
.vscode/
*.log

/trained_models/
/test/
/results/
/Python-RVO2/
/il/demos/
/il/bc_pretrain/
/outputs/
/crowd_nav_rl.egg-info/