# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so

# Virtual environments
.venv/
venv/
# env/ 
# ENV/

# Jupyter
.ipynb_checkpoints/

# Trained models / outputs
trained_models/*.gif
trained_models/*.pt
trained_models/*.pth
trained_models/*.pkl
/trained_models
# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

/wandb/